$ff: Roboto,SimSun,Helvetica Neue,sans-serif;
$mq-xs: only screen and (max-width: 599px);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

$content-width: 600px;
$autocomplete-item-height: 48px;
