@import "variables";
@import "better-easing";
@import "mixins";
@import "placeholders";
@import "components";
@import "keyframes";


html {
	font-size: 100%;
}

body {
	touch-action: manipulation;
	font-family: $ff;

	// the github button scripting iframe
	> iframe {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: -10px;
	}
}

.r-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: strech;

	min-height: 100vh;
	overflow: hidden;

	h1 {
		margin: 0;

		@media #{$mq-xs} {
			text-align: center;
		}

		> a {
			color: black !important;
			text-decoration: none !important;
		}
	}

	&__content {
		position: relative;
		flex: 1 0;
		margin-bottom: 36px;
	}

	&__footer {
		flex: 0 0;
		margin-bottom: 5px;
		text-align: center;
		line-height: 32px;
		max-height: 32px;
		color: gray;

		overflow: hidden;

		a {
			color: black;
		}

		iframe {
			position: relative;
			top: -2px;
			margin-left: 10px;
			vertical-align: middle;
		}
	}
}

.s-class-color {
	&.c1  { color: #c69b6d !important; }
	&.c2  { color: #f48cba !important; }
	&.c3  { color: #aad372 !important; }
	&.c4  { color: #fff468 !important; }
	&.c5  { color: #f0ebe0 !important; }
	&.c6  { color: #c41e3b !important; }
	&.c7  { color: #2359ff !important; }
	&.c8  { color: #68ccef !important; }
	&.c9  { color: #9382c9 !important; }
	&.c10 { color: #00ffba !important; }
	&.c11 { color: #ff7c0a !important; }
	&.c12 { color: #a330c9 !important; }
}

// autocomplete 下拉選單高度
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
	@media #{$mq-xs} {
		$max-height: 3 * $autocomplete-item-height;
		max-height: $max-height !important;
	}
}
