<div class="r-page">
  <mui-container>
    <h1>台版英雄榜查查</h1>

    <mui-form ng-submit="$ctrl.query($ctrl.region, $ctrl.realm, $ctrl.character)">
      <div class="mui-row">
        <div class="mui-col-xs-12 mui-col-md-6">
          <mui-select ng-model="$ctrl.realm" name="realm" label="伺服器" use-default>
            <mui-option value="" label="-"></mui-option>
            <mui-option value="世界之樹" label="世界之樹"></mui-option>
            <mui-option value="亞雷戈斯" label="亞雷戈斯"></mui-option>
            <mui-option value="冰霜之刺" label="冰霜之刺"></mui-option>
            <mui-option value="冰風崗哨" label="冰風崗哨"></mui-option>
            <mui-option value="地獄吼" label="地獄吼"></mui-option>
            <mui-option value="夜空之歌" label="夜空之歌"></mui-option>
            <mui-option value="天空之牆" label="天空之牆"></mui-option>
            <mui-option value="寒冰皇冠" label="寒冰皇冠"></mui-option>
            <mui-option value="尖石" label="尖石"></mui-option>
            <mui-option value="屠魔山谷" label="屠魔山谷"></mui-option>
            <mui-option value="巨龍之喉" label="巨龍之喉"></mui-option>
            <mui-option value="憤怒使者" label="憤怒使者"></mui-option>
            <mui-option value="日落沼澤" label="日落沼澤"></mui-option>
            <mui-option value="暗影之月" label="暗影之月"></mui-option>
            <mui-option value="水晶之刺" label="水晶之刺"></mui-option>
            <mui-option value="狂熱之刃" label="狂熱之刃"></mui-option>
            <mui-option value="眾星之子" label="眾星之子"></mui-option>
            <mui-option value="米奈希爾" label="米奈希爾"></mui-option>
            <mui-option value="聖光之願" label="聖光之願"></mui-option>
            <mui-option value="血之谷" label="血之谷"></mui-option>
            <mui-option value="語風" label="語風"></mui-option>
            <mui-option value="銀翼要塞" label="銀翼要塞"></mui-option>
            <mui-option value="阿薩斯" label="阿薩斯"></mui-option>
            <mui-option value="雲蛟衛" label="雲蛟衛"></mui-option>
            <mui-option value="雷鱗" label="雷鱗"></mui-option>
          </mui-select>
        </div>
        <div class="mui-col-xs-12 mui-col-md-6">
          <mui-input ng-model="$ctrl.character" hint="" label="角色名稱"></mui-input>
        </div>
      </div>

      <mui-button variant="raised" color="primary">查詢</mui-button>
    </mui-form>
  </mui-container>

  <div class="c-results">
    <mui-container>
      <div class="c-results__content">
        <div class="c-card">
          <div class="c-card__name">
            {{$ctrl.pd.name}}
          </div>
          <div class="c-card__meta">
            <a ng-href="{{$ctrl.pp.talentCalcLink}}" target="_blank">{{$ctrl.pp.talentName}}({{$ctrl.pp.talentStr}}) {{$ctrl.pp.className}}</a>
          </div>
          <div class="mui-row c-card__row">
            <div class="mui-col-xs-12 mui-col-md-4">
              <span class="c-card__fname">實裝</span>
              <span class="c-card__fval">{{$ctrl.pp.avgIlvEquipped}}</span>
            </div>
            <div class="mui-col-xs-12 mui-col-md-4">
              <span class="c-card__fname">虛裝</span>
              <span class="c-card__fval">{{$ctrl.pp.avgIlv}}</span>
            </div>
            <div class="mui-col-xs-12 mui-col-md-4">
              <span class="c-card__fname">神器裝等</span>
              <span class="c-card__fval">{{$ctrl.pp.artifactIlv}}</span>
            </div>
          </div>
          <div class="mui-row c-card__row">
            <div class="mui-col-xs-12 mui-col-md-4">
              <span class="c-card__fname">神器特質數</span>
              <span class="c-card__fval">{{$ctrl.pp.totalTraits}}</span>
            </div>
            <div class="mui-col-xs-12 mui-col-md-8">
              <span class="c-card__fname">新神器特質狀態</span>
              <span class="c-card__fval">{{$ctrl.pp.newTraitsUnlocked ? '已解鎖' : '未解鎖'}}</span>
            </div>
          </div>
          <div class="mui-row c-card__row" ng-repeat="raid in $ctrl.pp.expStr track by $index">
            <div class="mui-col-xs-12 mui-col-md-4">
              <span class="c-card__fname">{{raid.name}}經驗</span>
            </div>
            <div class="mui-col-xs-12 mui-col-md-8">
              <span class="c-card__fval">{{raid.str}}</span>
            </div>
          </div>
<pre>
實裝: {{$ctrl.pp.avgIlvEquipped}}    虛裝: {{$ctrl.pp.avgIlv}}
神兵裝等: {{$ctrl.pp.artifactIlv}}

神器特質數: {{$ctrl.pp.totalTraits}}    新神器特質狀態: {{$ctrl.pp.newTraitsUnlocked ? '已解鎖' : '未解鎖'}}

<span ng-repeat="raid in $ctrl.pp.expStr">{{raid.name}}經驗: {{raid.str}}<br></span>
</pre>
        </div>
      </div>
      <div>
        <pre><code>{{$ctrl.profile|json}}</code></pre>
      </div>
    </mui-container>
  </div>
</div>
